# Tuple

A tuple is a collection which is **ordered and unchangeable**.

Tuples are written with round brackets.

In [82]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')

Creating a tuple using the **tuple()** constructor

In [83]:
# note the double round-brackets
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

Tuples can have **duplicate values**

In [84]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length

In [85]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

## Accessing tuples

In [86]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

#### Negative Indexing

In [87]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

#### Range of Indexes

In [88]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [89]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [90]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Changing Tuple Values

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

If there is a need to update tuples, you can convert a tuple to a list, update the list and change the list back to a tuple

In [91]:
mytuple = ("apple", "banana", "cherry")
mylist = list(mytuple)
mylist[1] = "kiwi"
mytuple = tuple(mylist)

mytuple

('apple', 'kiwi', 'cherry')

## Deleting a Tuple

In [92]:
thistuple = ("apple", "banana", "cherry")
del thistuple