In [3]:
import pandas as pd

In [17]:
mydataset = {
  'number': [1, 2, 3],
  'number*2': [0,0,0]
}

df = pd.DataFrame(mydataset)

In [18]:
df.head()

   number  number*2
0       1         0
1       2         0
2       3         0

In [19]:
def multiplybytwo(number):
    return number * 2

In [21]:
df['number*2'] = df['number'].map(multiplybytwo)

In [22]:
df

   number  number*2
0       1         2
1       2         4
2       3         6